<section id="nosotros" data-nav="theme-dark">
  <div class="color-orb-left"></div>
  <div class="color-orb-right"></div>

  <div class="team-grid reveal">
    @for (member of teamMembers; track member.name; let i = $index) {
      <div class="team-card-wrapper">
        <app-card [imageUrl]="member.imageUrl" [imageAlt]="member.imageAlt" [title]="member.name"
          [description]="member.description" [buttonText]="'Ver más'" [buttonLink]="member.profileLink"
          [showButton]="true" [priority]="i === 0">
        </app-card>
      </div>
    }
  </div>
</section>